---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";

---

<Layout title="Privacy Policies">
  <Container>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Privacy Policies</h2>


      <h4 class="font-bold text-xl text-gray-800">1. Introduction</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        Welcome to SprintsAhead Solutions!
      
        SprintsAhead Solutions ("we," "our," or "us") operates sprintsaheadsolutions.com (the "Site"). This page informs you of our policies regarding the collection, use, and disclosure of Personal Information we receive from users of the Site.
        
        By using the Site, you agree to the collection and use of information in accordance with this policy.
      </p>
      
      <h4 class="font-bold text-xl text-gray-800">2. Information Collection and Use</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        We collect several different types of information for various purposes to provide and improve our service to you.
      </p>
      
      <p class="text-lg leading-relaxed text-slate-500">
        a. Personal Information
        While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Information"). Personally identifiable information may include, but is not limited to:
        
        Name
        Email address
        Phone number
        Postal address
        Other information you choose to provide
      </p>
      
      <p class="text-lg leading-relaxed text-slate-500">
        b. Usage Data
        We may also collect information on how the Site is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages, and other diagnostic data.
      </p>
      
      <p class="text-lg leading-relaxed text-slate-500">
        c. Cookies and Tracking Technologies
        We use cookies and similar tracking technologies to track the activity on our Site and hold certain information.
        
        Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.
        
        You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.
      </p>
      
      <h4 class="font-bold text-xl text-gray-800">3. Use of Data</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        SprintsAhead Solutions uses the collected data for various purposes:
        
        To provide and maintain our Site
        To notify you about changes to our Site
        To allow you to participate in interactive features of our Site when you choose to do so
        To provide customer support
        To gather analysis or valuable information so that we can improve our Site
        To monitor the usage of our Site
        To detect, prevent and address technical issues
      </p>
      
      <h4 class="font-bold text-xl text-gray-800">4. Data Transfer</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        Your information, including Personal Information, may be transferred to — and maintained on — computers located outside of your state, province, country, or other governmental jurisdiction where the data protection laws may differ from those from your jurisdiction.
        If you are located outside Philippines and choose to provide information to us, please note that we transfer the data, including Personal Information, to Philippines and process it there.
        Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
      </p>
      
      <h4 class="font-bold text-xl text-gray-800">5. Data Security</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        The security of your data is important to us, but remember that no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
      </p>
      
      <h4 class="font-bold text-xl text-gray-800">6. Disclosure of Data</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        We may disclose your Personal Information in the good faith belief that such action is necessary to:
        
        Comply with a legal obligation
        Protect and defend the rights or property of SprintsAhead Solutions
        Prevent or investigate possible wrongdoing in connection with the Site
        Protect the personal safety of users of the Site or the public
        Protect against legal liability
      </p>
      
      <h4 class="font-bold text-xl text-gray-800">7. Third-Party Services</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        We may employ third-party companies and individuals to facilitate our Site, provide the Site on our behalf, perform Site-related services, or assist us in analyzing how our Site is used.
        
        These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
      </p>
      
      <h4 class="font-bold text-xl text-gray-800">8. Links to Other Sites</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        Our Site may contain links to other sites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site.
      </p>

    </div>
  </Container>
</Layout>