---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Terms and Conditions">
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Terms and Conditions</h2>

      <h4 class="font-bold text-xl text-gray-800">1. Introduction</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        Welcome to SprintsAhead Solutions! These terms and conditions outline the
        rules and regulations for the use of SprintsAhead Solutions's website,
        located at sprintsaheadsolutions.com. By accessing this website, we assume you
        accept these terms and conditions. Do not continue to use SprintsAhead Solutions
        if you do not agree to take all of the terms and conditions stated
        on this page.
      </p>

      <h4 class="font-bold text-xl text-gray-800">2. Intellectual Property Rights</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        Unless otherwise stated, SprintsAhead Solutions and/or its licensors own the intellectual property rights for all material on SprintsAhead Solutions. All intellectual property rights are reserved. You may access this from SprintsAhead Solutions for your own personal use, subject to restrictions set in these terms and conditions.
        You must not:
          <ul>
            <li>Republish material from SprintsAhead Solutions</li>
            <li>Sell, rent, or sub-license material from SprintsAhead Solutions</li>
            <li>Reproduce, duplicate, or copy material from SprintsAhead Solutions</li>
            <li>Redistribute content from SprintsAhead Solutions</li>
          </ul>
      </p>

      <h4 class="font-bold text-xl text-gray-800">3. User Accounts</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        If you create an account on the website, you are responsible for maintaining the security
        of your account and for all activities that occur under the account. You must
        notify us immediately of any unauthorized use of your account.
      </p>

      <h4 class="font-bold text-xl text-gray-800">4. Content Parts</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        of this website offer an opportunity for users to post and exchange opinions
        and information. SprintsAhead Solutions does not filter, edit, publish or review
        Comments prior to their presence on the website. Comments do not reflect the
        views and opinions of SprintsAhead Solutions, its agents, or affiliates. Comments
        reflect the views and opinions of the person who posts their views and opinions.
      </p>

      <h4 class="font-bold text-xl text-gray-800">5. Links to Other Websites</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        Our website may contain links to third-party websites
        or services that are not owned or controlled by SprintsAhead Solutions. SprintsAhead
        Solutions has no control over and assumes no responsibility for the content,
        privacy policies, or practices of any third-party websites or services.
      </p>

      <h4 class="font-bold text-xl text-gray-800">6. Limitation of Liability</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        In no event shall SprintsAhead Solutions, nor any of its
        officers, directors, and employees, be held liable for anything arising out
        of or in any way connected with your use of this website whether such liability
        is under contract. SprintsAhead Solutions, including its officers, directors,
        and employees, shall not be held liable for any indirect, consequential, or
        special liability arising out of or in any way related to your use of this
        website.
      </p>

      <h4 class="font-bold text-xl text-gray-800">7. Indemnification</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        You hereby indemnify to the fullest extent SprintsAhead
        Solutions from and against any and all liabilities, costs, demands, causes
        of action, damages, and expenses arising in any way related to your breach
        of any of the provisions of these terms.
      </p>

      <h4 class="font-bold text-xl text-gray-800">8. Severability</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        If any provision of these Terms is found to be invalid under any applicable law, such provisions
        shall be deleted without affecting the remaining provisions herein.
      </p>

      <h4 class="font-bold text-xl text-gray-800">9. Variation of Terms</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        SprintsAhead Solutions is permitted to revise these terms at any time
        as it sees fit, and by using this website, you are expected to review these
        terms on a regular basis.
      </p>

      <h4 class="font-bold text-xl text-gray-800">10. Assignment </h4>
      <p class="text-lg leading-relaxed text-slate-500">
        The SprintsAhead Solutions is allowed to assign, transfer, and subcontract its rights and/or obligations under these
        terms without any notification. However, you are not allowed to assign, transfer,
        or subcontract any of your rights and/or obligations under these terms.
      </p>

      <h4 class="font-bold text-xl text-gray-800">11. Entire Agreement</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        These terms constitute the entire agreement between SprintsAhead
        Solutions and you in relation to your use of this website and supersede
        all prior agreements and understandings.
      </p>

      <h4 class="font-bold text-xl text-gray-800">12. Governing Law & Jurisdiction</h4>
      <p class="text-lg leading-relaxed text-slate-500">
        These terms will be governed by and interpreted in accordance with the laws of the
        State of Makati Manila, and you submit to the non-exclusive jurisdiction of
        the state and federal courts located in Makati Manila for the resolution of
        any disputes.
      </p>
    </div>
  </Container>
</Layout>
