---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-4xl lg:text-5xl font-bold text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="size-8 md:size-12" name="simple-icons:jira" />
    <Icon class="size-8 md:size-12" name="simple-icons:clickup" />
    <Icon class="size-8 md:size-12" name="simple-icons:trello" /> 
    <Icon class="size-8 md:size-16" name="simple-icons:asana" />
    <Icon class="size-8 md:size-16" name="simple-icons:googlesheets" />
    <Icon class="size-8 md:size-16" name="simple-icons:notion" />
    
  </div>
</div>
